[Unit]
Description=Ronny, collects detections into a database
Requires=network.target
Requires=time-sync.target
After=network.target
After=time-sync.target

[Service]
Type=simple
Restart=always
User=root
ExecStart=ronny

[Install]
WantedBy=multi-user.target
